{
   "mo_caffe_extractor":{
      "op":"Proposal",
      "pythonic":false,
      "param_name":"proposal_param",
      "allCopy": false,
      "omitDefault": false,
      "flatten": false,
      "rename": false,
      "params":[
         {
            "new_name":"feat_stride",
            "old_name":"feat_stride"
         },
         {
            "new_name":"base_size",
            "old_name":"base_size"
         },
         {
            "new_name":"min_size",
            "old_name":"min_size"
         },
         {
            "new_name":"ratio",
            "old_name":"ratio",
            "default":0.5
         },
         {
            "new_name":"scale",
            "old_name":"scale"
         },
         {
            "new_name":"pre_nms_topn",
            "old_name":"pre_nms_topn"
         },
         {
            "new_name":"post_nms_topn",
            "old_name":"post_nms_topn"
         },
         {
            "new_name":"nms_thresh",
            "old_name":"nms_thresh"
         }
      ]
   },
   "mo_op":{
      "op":"Proposal",
      "pythonic":false,
      "change_shape":true,
      "has_infer":true,
      "supported_attrs":[
         "feat_stride",
         "base_size",
         "min_size",
         "ratio",
         "scale",
         "pre_nms_topn",
         "post_nms_topn",
         "nms_thresh"
      ],
      "internal_attrs":[
         "nms_thresh"
      ]
   },
   "ie_op":{
      "op":"Proposal",
      "plugin":"cpu",
      "pythonic":false,
      "params":[
         {
            "name":"feat_stride",
            "type":"int"
         },
         {
            "name":"base_size",
            "type":"int"
         },
         {
            "name":"min_size",
            "type":"int"
         },
         {
            "name":"ratio",
            "type":"listfloat"
         },
         {
            "name":"scale",
            "type":"listfloat"
         },
         {
            "name":"pre_nms_topn",
            "type":"int"
         },
         {
            "name":"post_nms_topn",
            "type":"int"
         },
         {
            "name":"nms_thresh",
            "type":"float"
         }
      ]
   }
}
